/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #787878;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #202125;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d5d5d5;
}